
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-omnie:before { content: '\e804'; } /* '' */
.icon-kontakt:before { content: '\f0e0'; } /* '' */
.icon-portfolio:before { content: '\f15c'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */